[Unit]
Description=Linux Bluetooth Advertisement Proxy for Home Assistant
After=network.target bluetooth.service
Requires=bluetooth.service

[Service]
Type=notify
ExecStart=/usr/bin/linux_bt_proxy
Restart=on-failure
RestartSec=5s
WatchdogSec=30s
User=linuxbtproxy
Group=linuxbtproxy
SupplementaryGroups=bluetooth

[Install]
WantedBy=multi-user.target
